<div class="is-clearfix field no-print" *ngIf="bills.length > 0">
  <div class="field field-body is-clearfix">
    <div class="field is-narrow">
      <p class="control">
        <span class="select ">
          <select [(ngModel)]="config.pageSize">
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
          </select>
        </span>
      </p>
    </div>
    <div class=" field has-addons is-inline-flex">
      <div class="control">
        <input class="input" [(ngModel)]="searchText" (keyup.enter)="Search(searchText)" type="text" placeholder="{{'Payments.SearchPlaceholder'|translate:lang}} {{'Bills.Service'|translate:lang}}">
      </div>
      <div class="control">
        <a class="button is-primary search-btn" (click)="Search(searchText)">
          {{'Payments.Search'|translate:lang}}
        </a>
      </div>
      <span class="control mleft is-hidden-mobile">
        <button class="button is-info" (click)="print()"> {{'Common.Print'|translate:lang}} </button>
      </span>
    </div>
  </div>
</div>
<div class="card" *ngIf="bills.length > 0">
  <div class="card-content">
    <table class="table is-fullwidth is-striped">
      <thead>
        <tr>
          <th class="is-hidden-mobile">{{'Bills.AA'|translate:lang}}</th>
          <th>{{'Bills.Service'|translate:lang}}</th>
          <th>{{'Bills.Debt'|translate:lang}}</th>
          <th class="is-hidden-mobile">{{'Bills.DueDate'|translate:lang}}</th>
          <th class="no-print">{{'Common.Select'|translate:lang}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i = index;let d of bills| filterPipe:'description':filterText | paginate: { itemsPerPage: config.pageSize, currentPage: config.currentPage }">
          <td class="is-hidden-mobile">{{i + 1}}</td>
          <td>{{d.description}}</td>
          <td>{{d.amount}} &euro;</td>
          <td class="is-hidden-mobile">
            <span [ngClass]="{'has-text-danger':checkFallDue(d.dateDue)}">{{d.dateDue|date:'dd-MM-yyyy'}} </span>
            <span *ngIf="checkFallDue(d.dateDue)">&nbsp;({{'Bills.OverDue'|translate:lang}})</span>
          </td>
          <td class="no-print">
            <a class="button is-primary is-small" (click)="null">{{'Common.DetailsBtn'|translate:lang}}</a>
          </td>
        </tr>
      </tbody>
    </table>
    <app-pagination class="no-print" *ngIf="bills.length > 0" [config]="config" [data]="bills"></app-pagination>
  </div>
</div>
<div class="has-text-centered has-text-white" *ngIf="bills.length == 0">
  {{'Common.NoBills'|translate:lang}}
</div>