<div class="is-clearfix field" *ngIf="bills.length > 0">
  <div class="is-pulled-right">
    <p class="is-grouped">

    </p>
  </div>
</div>
<div class="card" *ngIf="bills.length > 0">
  <div class="card-content">
    <table class="table is-fullwidth is-striped" >
      <thead>
        <tr>
          <th class="is-hidden-mobile">{{'Bills.AA'|translate:lang}}</th>
          <th>{{'Bills.Service'|translate:lang}}</th>
          <th>{{'Bills.Debt'|translate:lang}}</th>
          <th class="is-hidden-mobile">{{'Bills.DueDate'|translate:lang}}</th>
          <th>{{'Common.Select'|translate:lang}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i = index;let d of bills | paginate: { itemsPerPage: config.pageSize, currentPage: config.currentPage }">
          <td class="is-hidden-mobile">{{i + 1}}</td>
          <td>{{d.description}}</td>
          <td>{{d.amount}} &euro;</td>
          <td class="is-hidden-mobile">
            <span [ngClass]="{'has-text-danger':checkFallDue(d.dateDue)}">{{d.dateDue|date:'dd-MM-yyyy'}} </span>
            <span *ngIf="checkFallDue(d.dateDue)">&nbsp;({{'Bills.OverDue'|translate:lang}})</span>
          </td>
          <td>
            <a class="button is-primary is-small" (click)="null">{{'Common.DetailsBtn'|translate:lang}}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>