<div class="columns amargin  is-mobile is-centered">
    <div class="column is-half is-narrow">
        <div class="box">
            <p class="title is-10">
                Επικοινωνία
            </p>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Μήνυμα</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea" placeholder="Το μήνυμά σου"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label">
                    <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button [routerLink]="['/Contact']" class="button is-primary">
                                Αποστολή
                              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>