<div class="container">
  <section class="is-small">
    <div class="hero-body">
      <app-navigation [navigation]="navbar"></app-navigation>
      <h2 class="subtitle is-5 has-text-white">
        {{'Settlements.SubTitle1'|translate:lang}} {{bills.length}} {{'Settlements.SubTitle2'|translate:lang}}
      </h2>
      <div class="columns is-multiline is-marginless">
        <div class="column is-6">
          <div class="card">
            <div class="card-content is-clearfix">
              <div class="subtitle is-3"> {{'Settlements.SelectSettlement'|translate:lang}}</div>
              <label class="label"> {{'Settlements.SelectDetails'|translate:lang}}</label>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label"> {{'Settlements.Type'|translate:lang}}</label>
                </div>
                <div class="field-body">
                  <div class="field is-narrow">
                    <div class="control">
                      <div class="select is-fullwidth">
                        <select [(ngModel)]="sType" (change)="createMaxInstallments()">
                          <option *ngFor="let t of settlementTypes;let i = index" value="{{i}}">{{'Προκαταβολή ' + t.downpayment + '%' + ' Επιτόκιο ' + t.interest}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label"> {{'Settlements.Installments'|translate:lang}}</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <span class="select ">
                        <select [(ngModel)]="settlement.installments" (change)="reCalculate()">
                          <option *ngFor="let i of installments" [value]="i">{{i}}</option>
                        </select>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="field is-clearfix" *ngIf="!settlement.settlementType">
                <p class="control  is-pulled-right">
                  <a class="button is-info" (click)="calculateSettlement()">
                    {{'Common.CalculateBtn'|translate:lang}}
                  </a>
                </p>
              </div>
              <div *ngIf="settlement.settlementType">
                {{'Settlements.SettlementDetails'|translate:lang}}
                <hr class="is-short">
                <table class="table is-fullwidth">
                  <tr>
                    <td> {{'Settlements.Downpayment'|translate:lang}}:</td>
                    <td> {{settlement.downpayment}} &euro; ({{settlementTypes[sType].downpayment}} %)</td>
                  </tr>
                  <tr>
                    <td> {{'Settlements.SubTotal'|translate:lang}}:</td>
                    <td> {{settlement.subTotal}} &euro;</td>
                  </tr>
                  <tr>
                    <td> {{'Settlements.MonthlyFee'|translate:lang}}:</td>
                    <td> {{settlement.monthlyFee}} &euro; x ({{settlement.installments}} {{'Settlements.Months'|translate:lang}})</td>
                  </tr>
                  <tr>
                    <td> {{'Settlements.Interest'|translate:lang}}:</td>
                    <td> {{settlement.settlementType.interest}} %</td>
                  </tr>
                </table>
                <div class="field">
                    <label class="label is-marginless"> {{'Settlements.Title'|translate:lang}}*</label>
                    <div class="control">
                      <input class="input" [(ngModel)]="settlement.title"  type="text">
                      <div *ngIf="!settlement.title" class="help is-danger">
                          *{{'Common.Required'|translate:lang}}
                      </div>
                    </div>
                  </div>
                <div class="field is-grouped is-grouped-right">
                  <p class="control">
                    <a class="button is-default" (click)="clearSettlement()">
                      {{'Common.ClearBtn'|translate:lang}}
                    </a>
                  </p>
                  <p class="control">
                    <button class="button is-primary" [disabled]="!settlement.title" (click)="submitSettlement()">
                      {{'Common.SubmitBtn'|translate:lang}}
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="card">
            <div class="card-content">
              <span class="subtitle is-3"> {{'Settlements.BillForSettle'|translate:lang}}</span>
              <table class="table is-fullwidth is-striped is-transparent">
                <thead>
                  <tr>
                    <th class="is-hidden-mobile"> {{'Bills.AA'|translate:lang}}</th>
                    <th>{{'Bills.Service'|translate:lang}}</th>
                    <th>{{'Bills.Paid'|translate:lang}}</th>
                    <th>{{'Bills.DueDate'|translate:lang}}</th>
                    <th>{{'Common.Select'|translate:lang}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let d of bills;let i = index">
                    <td class="is-hidden-mobile">{{i + 1}}</td>
                    <td>{{d.description}}</td>
                    <td>{{d.amount}} &euro;</td>
                    <td>{{d.dateDue|date:'dd-MM-yyyy'}}</td>
                    <td>
                      <a class="button is-danger is-small" (click)="removebillFromPay(i)">{{'Common.RemoveBtn'|translate:lang}}</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>