@import '../../../../node_modules/bulmaswatch/Flatly/variables.scss'

.vcenter
    margin-top: calc(100vh - 70vh)

.card
    box-shadow: 0px 0px 20px 4px rgba(255, 255, 255, 0.36)
    border-radius: 5px
    padding-top: 50px
    padding-bottom: 50px