@import '../../../../node_modules/bulmaswatch/Materia/variables.scss'

.login-left-overlay
    background: rgba(0, 0, 0, 0.45)
    height: calc(100vh)

.hero-body
    padding: 10rem 2rem

.is-256x256
    height: 256px
    width: 256px

.mr
    margin-right: 20px

.input.is-active, .input.is-focused, .input:active, .input:focus 
    box-shadow: 0 0px 0 1px #07656f

.input
    padding: 0px 20px
    border-radius: 30px
    border: 1px solid #dbdbdb

.btn-radius
    border-radius: 30px

.is-white-background
    background: white