<section class="hero is-transparent">
  <div class="hero-body">
    <div class="container">
      <div class="steps">
        <div class="step-item" [ngClass]="{'is-active': step >= 0,'is-completed': step > 0 }">
          <div class="step-marker">
            <span class="icon">
              <i class="fa fa-check"></i>
            </span>
          </div>
          <div class="step-details">
            <a class="step-title"> {{'Home.Bills'|translate:lang}}</a>
            <p>{{'CreditCard.ConfirmBills'|translate:lang}}</p>
          </div>
        </div>
        <div class="step-item" [ngClass]="{'is-active': step >= 1,'is-completed': step > 1 }">
          <div class="step-marker">
            <span class="icon">
              <i class="fa fa-credit-card"></i>
            </span>
          </div>
          <div class="step-details ">
            <a class="step-title"> {{'Common.PayBtn'|translate:lang}}</a>
            <p>{{'CreditCard.CreditCardInfo'|translate:lang}}</p>
          </div>
        </div>
        <div class="step-item" [ngClass]="{'is-active': step >= 2,'is-completed': step > 2 }">
          <div class="step-marker">
            <span class="icon">
              <i class="fa fa-flag-checkered"></i>
            </span>
          </div>
          <div class="step-details">
            <a class="step-title"> {{'CreditCard.Complete'|translate:lang}}</a>
            <p>{{'CreditCard.CompletePayment'|translate:lang}}</p>
          </div>
        </div>
      </div>
      <div class="columns is-marginless is-multiline">
        <div class="column is-12 is-clearfix">
          <div class="field is-grouped is-pulled-right">
            <p class="control">
              <button class="button is-default" *ngIf="step != 0" (click)="previousStep()">
                {{'Pagination.Previous'|translate:lang}}
              </button>
              <button class="button is-default" *ngIf="step == 0" (click)="cancel()">
                {{'Common.Cancel'|translate:lang}}
              </button>
            </p>
            <p class="control">
              <a class="button is-primary" (click)="step != 2 ? nextStep():payBills()">
                <span *ngIf="step < 2">{{'Pagination.Next'|translate:lang}} </span>
                <span *ngIf="step == 2"> {{'Common.SubmitBtn'|translate:lang}}</span>
              </a>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <app-bill-to-pay *ngIf="step == 0"></app-bill-to-pay>
          <app-credit-card *ngIf="step == 1"></app-credit-card>
          <app-payment-overview (setState)="ediCreditCard($event)" *ngIf="step == 2"></app-payment-overview>
        </div>

      </div>
    </div>
  </div>
</section>