<div class="container">
  <section class="hero is-small">
    <div class="hero-body">
      <app-navigation class="no-print" [navigation]="navbar"></app-navigation>
      <div class="columns is-multiline">
        <div class="column is-12">
          <div class="card" *ngIf="settlement">
            <div class="card-content">
              <div class="field is-clearfix">
                <span class="title is-4">
                  {{settlement.title}}
                </span>
                <button class="button is-pulled-right is-info is-hidden-mobile no-print" (click)="print()"> {{'Common.Print'|translate:lang}} </button>
              </div>
              <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag is-dark tag-m is-normal">{{'Settlements.TotalSettle'|translate:lang}}</span>
                    <span class="tag is-primary tag-s is-normal">{{billsSum()}}&euro;</span>
                  </div>
                </div>
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag is-dark tag-m is-normal">{{'Settlements.Downpayment'|translate:lang}}</span>
                    <span class="tag is-primary tag-s is-normal">{{settlement.downpayment}}&euro;</span>
                  </div>
                </div>
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag is-dark tag-m is-normal">{{'Settlements.SubTotal'|translate:lang}}</span>
                    <span class="tag is-primary tag-s is-normal">{{settlement.subTotal}}&euro;</span>
                  </div>
                </div>
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag is-dark tag-m is-normal">{{'Settlements.Interest'|translate:lang}}</span>
                    <span class="tag is-primary tag-s is-normal">{{settlement?.settlementType?.interest}}%</span>
                  </div>
                </div>
              </div>
              <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag is-dark tag-m is-normal">{{'Settlements.MonthlyFee'|translate:lang}}</span>
                    <span class="tag is-primary tag-s is-normal">{{settlement.monthlyFee}}&euro;</span>
                  </div>
                </div>
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag is-dark tag-m is-normal">{{'Settlements.Installments'|translate:lang}}</span>
                    <span class="tag is-primary tag-s is-normal">{{settlement.installments}}</span>
                  </div>
                </div>
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag is-dark tag-m is-normal">{{'Settlements.RequestDate'|translate:lang}}</span>
                    <span class="tag is-primary tag-s is-normal">{{settlement.requestDate|date:'HH:mm'}}</span>
                  </div>
                </div>
              </div>
              <table class="table is-fullwidth is-striped">
                <thead>
                  <tr>
                    <th class="is-hidden-mobile">{{'Bills.AA'|translate:lang}}</th>
                    <th>{{'Bills.Service'|translate:lang}}</th>
                    <th>{{'Bills.Debt'|translate:lang}}</th>
                    <th class="is-hidden-mobile">{{'Bills.DueDate'|translate:lang}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i = index;let d of settlement.bills">
                    <td class="is-hidden-mobile">{{i + 1}}</td>
                    <td>{{d.description}}</td>
                    <td>{{d.amount}} &euro;</td>
                    <td class="is-hidden-mobile"> {{d.dateDue|date:'dd-MM-yyyy'}} </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>