<section class="hero is-transparent">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-gapless">
        <div class="column">
          <p class="title is-2 has-text-white">
            {{user.lastname}} {{user.name}}</p>
          <p class="subtitle is-5 has-text-white">
            <i class="fa fa-envelope " title="email"></i> {{user.email}}</p>
        </div>
        <div class="column is-narrow">
          <a class="button is-primary" [routerLink]="['/changepwd']">{{'User.ChangePwd'|translate:lang}}</a>
        </div>
      </div>

      <hr>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading has-text-white">{{'Home.Bills'|translate:lang}}</p>
            <p class="title has-text-white">{{user.counters.bills}}</p>
            <p>
              <a class="button is-info is-small  margin-top-10" [routerLink]="['/bills']">{{'Common.Show'|translate:lang}}</a>
            </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading has-text-white">{{'Home.Settlements'|translate:lang}}</p>
            <p class="title has-text-white">{{user.counters.settlements}}</p>
            <p>
              <a class="button is-info is-small  margin-top-10" [routerLink]="['/settlements']">{{'Common.Show'|translate:lang}}</a>
            </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading has-text-white">{{'Home.Payments'|translate:lang}}</p>
            <p class="title has-text-white">{{user.counters.payments}}</p>
            <p>
              <a class="button is-info is-small  margin-top-10" [routerLink]="['/payments']">{{'Common.Show'|translate:lang}}</a>
            </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading has-text-white">Κατι</p>
            <p class="title has-text-white">??</p>
            <p>
              <a class="button is-info is-small  margin-top-10">{{'Common.Show'|translate:lang}}</a>
            </p>
          </div>
        </div>
      </nav>
      <hr>
      <div class="has-text-centered ">
        <p class="subtitle is-3 has-text-white">{{'User.Details'|translate:lang}}</p>
        <p class="has-text-white">
          <span class="subtitle has-text-info is-5 ">{{'User.Mobile'|translate:lang}}:</span>&nbsp;&nbsp; {{user.mobile}}</p>
        <p class="has-text-white">
          <span class="subtitle has-text-info is-5">{{'User.Vat'|translate:lang}}:</span>&nbsp;&nbsp; {{user.vat}}</p>
        <p class="has-text-white">
          <span class="subtitle has-text-info is-5">{{'User.Address'|translate:lang}}:</span>&nbsp;&nbsp; {{user.address}}</p>
        <p class="has-text-white">
          <span class="subtitle has-text-info is-5">{{'User.County'|translate:lang}}:</span>&nbsp;&nbsp; {{user.county}}</p>
      </div>
    </div>
  </div>
</section>