<div class="container">
  <section class="hero">
    <div class="hero-body">

      <div class="">
        <p class="title is-2 has-text-white">
          {{user.lastname}} {{user.name}}</p>
        <p class="subtitle is-5 has-text-white">
          <i class="fa fa-envelope " title="email"></i> {{user.email}}</p>
      </div>

      <hr>
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading has-text-white">Λογαριασμοι</p>
            <p class="title has-text-white">{{counters.bills}}</p>
            <p>
              <a class="button is-info is-small is-outlined margin-top-10" [routerLink]="['/bills']">Εμφάνιση</a>
            </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading has-text-white">Διακανονισμοι</p>
            <p class="title has-text-white">{{counters.settlements}}</p>
            <p>
              <a class="button is-info is-small is-outlined margin-top-10" [routerLink]="['/settlements']">Εμφάνιση</a>
            </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading has-text-white">Πληρωμες</p>
            <p class="title has-text-white">{{counters.payments}}</p>
            <p>
              <a class="button is-info is-small is-outlined margin-top-10" [routerLink]="['/payments']">Εμφάνιση</a>
            </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading has-text-white">Κατι</p>
            <p class="title has-text-white">??</p>
            <p>
              <a class="button is-info is-small is-outlined margin-top-10">Εμφάνιση</a>
            </p>
          </div>
        </div>
      </nav>
      <hr>
      <div class="has-text-centered ">
        <p class="subtitle is-3 has-text-white">Προσώπικά Στοιχεία</p>
        <p class="has-text-white">
          <span class="subtitle has-text-info is-5 ">Κινητό:</span>&nbsp;&nbsp; {{user.mobile}}</p>
        <p class="has-text-white">
          <span class="subtitle has-text-info is-5">Α.Φ.Μ:</span>&nbsp;&nbsp; {{user.vat}}</p>
        <p class="has-text-white">
          <span class="subtitle has-text-info is-5">Διεύθυνση:</span>&nbsp;&nbsp; {{user.address?.street}}</p>
        <p class="has-text-white">
          <span class="subtitle has-text-info is-5">Δήμος:</span>&nbsp;&nbsp; {{user.address?.county}}</p>
      </div>
    </div>
  </section>
</div>