<!-- <h1 class="title has-text-white">
  Λογαριασμοί
</h1> -->
<h2 class="title is-4 has-text-white">
  {{'Settlements.SubTitle1'|translate:lang}} {{bills.length}} {{'Bills.Subtitle'|translate:lang}}
</h2>
<div class="card">
  <div class="card-content">
    <table class="table is-fullwidth is-striped is-transparent">
      <thead>
        <tr>
          <th class="is-hidden-mobile"> {{'Bills.AA'|translate:lang}} </th>
          <th> {{'Bills.Service'|translate:lang}} </th>
          <th> {{'Bills.Paid'|translate:lang}} </th>
          <th> {{'Bills.DueDate'|translate:lang}} </th>
          <th> {{'Common.Actions'|translate:lang}} </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of bills;let i = index">
          <td class="is-hidden-mobile">{{i + 1}}</td>
          <td>{{d.description}}</td>
          <td>{{d.amount}} &euro;</td>
          <td>{{d.dateDue|date:'dd-MM-yyyy'}}</td>
          <td>
            <a class="button is-danger is-small" (click)="removebillFromPay(i)">
              <span class="is-hidden-mobile">{{'Common.RemoveBtn'|translate:lang}}</span>
              <span class="is-hidden-tablet"><i class="fa fa-times"></i></span>
            </a>
          </td>
        </tr>
        <tr *ngIf="bills.length > 0">
          <td colspan="2" class="subtitle is-5 "> {{'Bills.Total'|translate:lang}} </td>
          <td colspan="3" class="subtitle is-5 has-text-warning">{{billsSum()}} &euro;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>