<table class="table is-fullwidth is-striped is-transparent">
  <thead>
    <tr>
      <th class="is-hidden-mobile">ΑΑ</th>
      <th>Υπηρεσία</th>
      <th>Ποσό</th>
      <th class="is-hidden-mobile">Λήξη</th>
      <th class="selecteBill">Επιλογή</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of payments;let i = index">
      <td class="is-hidden-mobile">{{i + 1}}</td>
      <td>{{d.paidDate|date:'dd-MM-yyyy'}}</td>
      <td>{{d.amount}} &euro;</td>
      <td class="is-hidden-mobile">
      
      <td >
      </td>
    </tr>
  </tbody>
</table>