<section class="hero is-transparent ">
    <div class="hero-body">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-8">
                    <div class="tile">
                        <div class="tile is-parent is-vertical">
                            <div class="box tile is-child ">
                                <div class="media-content">
                                    <figure class="amargin image is-128x128 has-text-centered">
                                        <img src="../../../assets/city logo.png">
                                    </figure>
                                    <div class="content">
                                        <p class="title is-5">
                                            {{'Common.Menu'|translate:lang}}
                                        </p>
                                        <ol class="has-text-black">
                                            <li [routerLink]="['/TermsOfUse']">
                                                <a>{{'Home.Terms'|translate:lang}}</a>
                                            </li>
                                            <li [routerLink]="['/FAQ']">
                                                <a>{{'Home.Faq'|translate:lang}}</a>
                                            </li>
                                            <li [routerLink]="['/ContactUs']">
                                                <a>{{'Home.Contact'|translate:lang}}</a>

                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="box tile is-child">
                                <nav class="panel" *ngIf="topThree.length > 0">
                                    <p class="panel-heading">
                                        {{'Home.TopThree'|translate:lang}}
                                    </p>
                                    <a class="panel-block is-clearfix" *ngFor="let b of topThree">
                                        <span class="panel-icon">
                                            <i class="fa fa-money"></i>
                                        </span>
                                        {{b.description}}&nbsp;&nbsp;
                                        <span>{{b.amount}} &euro;</span>
                                    </a>
                                    <div class="panel-block">
                                        <button class="button is-small is-outlined is-primary is-fullwidth" [routerLink]="['/bills']">
                                            {{'Common.SeeAll'|translate:lang}}
                                        </button>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="tile is-parent is-vertical">
                            <article class="tile is-child notification is-light">
                                <p class="title">{{'Home.Bills'|translate:lang}}</p>
                                <div class="tags has-addons">
                                    <span class="tag is-dark">{{'Bills.Total'|translate:lang}}</span>
                                    <span class="tag is-primary">{{user.counters.bills}}</span>
                                    <span class="tag is-primary left-border">{{user.counters.billsAmount}} &euro;</span>
                                </div>
                                <article class="message is-warning" [routerLink]="['/bills']">
                                    <div class="message-header bck-warning is-block">
                                        <div class="field">
                                            <span class="title is-4 has-text-white">&euro; {{user.counters.unPaidAmount}}</span>
                                        </div>
                                        <div class="is-clearfix">
                                            <strong class="has-text-white valign"> {{'Bills.Unpaid'|translate:lang}}
                                                <span class="tag is-rounded is-pulled-right">{{user.counters.unPaid}}/{{user.counters.bills}}</span>
                                            </strong>
                                        </div>
                                    </div>
                                    <div class="message-body msgbody">
                                        <progress class="progress is-medium is-dark" value="{{user.counters.unPaid}}" max="{{user.counters.bills}}">%</progress>
                                    </div>
                                </article>
                                <article class="message is-primary" [routerLink]="['/bills']">
                                    <div class="message-header bck-primary is-block">
                                        <div class="field">
                                            <span class="title is-4">&euro; {{user.counters.paidAmount}}</span>
                                        </div>
                                        <div class="is-clearfix">
                                            <strong class="valign"> {{'Bills.Paid'|translate:lang}}
                                                <span class="tag is-rounded is-pulled-right">{{user.counters.paid}}/{{user.counters.bills}}</span>
                                            </strong>
                                        </div>
                                    </div>
                                    <div class="message-body msgbody">
                                        <progress class="progress is-medium is-dark" value="{{user.counters.paid}}" max="{{user.counters.bills}}">%</progress>
                                    </div>
                                </article>
                                <article class="message is-info" [routerLink]="['/bills']">
                                    <div class="message-header bck-blue is-block">
                                        <div class="field">
                                            <span class="title is-4">&euro; {{user.counters.onSettleAmount}}</span>
                                        </div>
                                        <div class="is-clearfix">
                                            <strong class="valign"> {{'Bills.OnSettlement'|translate:lang}}
                                                <span class="tag is-rounded is-pulled-right">{{user.counters.onSettle}}/{{user.counters.bills}}</span>
                                            </strong>
                                        </div>
                                    </div>
                                    <div class="message-body msgbody">
                                        <progress class="progress is-medium is-dark" value="{{user.counters.onSettle}}" max="{{user.counters.bills}}">%</progress>
                                    </div>
                                </article>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification ">
                            <p class="title">{{'Home.Payments'|translate:lang}}</p>
                            <article class="message is-primary" [routerLink]="['/payments']">
                                <div class="message-header  bck-primary is-block">
                                    <div class="field">
                                        <span class="title is-4 has-text-white">&euro; {{user.counters.paymentsAmount}}</span>
                                    </div>
                                    <div class="is-clearfix">
                                        <strong class="has-text-white valign"> {{'Bills.Total'|translate:lang}}
                                            <span class="tag is-rounded is-pulled-right">{{user.counters.payments}}</span>
                                        </strong>
                                    </div>
                                </div>
                                <div class="message-body">
                                    <a [routerLink]="['/payments']">Προβολή</a>
                                    <span class="icon is-pulled-right" [routerLink]="['/payments']">
                                        <i class="fa fa-arrow-circle-o-right"></i>
                                    </span>
                                </div>
                            </article>
                        </article>
                        <article class="tile is-child notification">
                            <p class="title">{{'Home.Settlements'|translate:lang}}</p>
                            <article class="message is-info" [routerLink]="['/settlements']">
                                <div class="message-header  bck-blue is-block">
                                    <div class="field">
                                        <span class="title is-4 has-text-white">&euro; {{user.counters.settleAmount}}</span>
                                    </div>
                                    <div class="is-clearfix">
                                        <strong class="has-text-white valign"> {{'Bills.Total'|translate:lang}}
                                            <span class="tag is-rounded is-pulled-right">{{user.counters.settlements}}</span>
                                        </strong>
                                    </div>
                                </div>
                                <div class="message-body is-clearfix">
                                    <a [routerLink]="['/payments']">Προβολή</a>
                                    <span class="icon is-pulled-right" [routerLink]="['/payments']">
                                        <i class="fa fa-arrow-circle-o-right"></i>
                                    </span>
                                </div>
                            </article>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-marginless">
                <div class="column is-6" class="has-text-white">
                    <h1 class="title is-4 has-text-white">
                        The Global Debt Recovery Solution For A Global Economy
                    </h1>
                    <hr>
                    <ul>
                        <li>
                            <i class="fa fa-circle"></i>&nbsp; Pre-legal no win no fee globally
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>&nbsp; No setup charges
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>&nbsp; Multi-award winning
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>&nbsp; Worldwide compliance
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>&nbsp; Global coverage
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="content">
            <div class="columns has-text-centered">
                <div class="column amargin">
                    <img class="imagebulma" (click)="null" src="../../assets/html5-logo.png" alt="Made with Bulma">
                </div>
                <div class="column amargin">
                    <img class="imagebulma" src="../../assets/dotnet.png" alt="Made with Bulma">
                </div>
                <div class="column amargin">
                    <img class="imagebulma" src="../../assets/made-with-bulma--dark.png" alt="Made with Bulma">
                </div>
                <div class="column amargin">
                    <img class="imagebulma" src="../../assets/MadeWithAngular.png" alt="Made with Bulma">
                </div>
            </div>
            <p class="has-text-centered has-text-black">
                <strong class="has-text-black">{{'App.Title'|translate:lang}}</strong> by
                <a href="https://github.com/CodingSchoolQualcoTeam4/DMG">qualco_4</a>. The source code is licensed
                <a href="http://www.qualco.eu/">Qualco</a>.
            </p>
            <!-- <p class="has-text-centered has-text-black">
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                    <img alt="Άδεια Creative Commons" src="https://i.creativecommons.org/l/by/4.0/80x15.png" />
                </a>{{'Home.License'|translate:lang}}
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">{{'Home.CC'|translate:lang}}</a>.
            </p> -->
        </div>
    </div>
</footer>