@import "../../../node_modules/bulmaswatch/Superhero/_variables.scss"

.action-btn
    width: 100%
    height: 170px

.bck-primary    
    background-color: $primary
    padding: 30px
    &:hover
        background-color:  darken($primary, 10%)

.bck-success    
    background-color: $green
    padding: 30px
    &:hover
        background-color:  darken($green, 10%)

.bck-dark    
    background-color: $blue
    padding: 30px
    &:hover
        background-color:  darken($blue, 10%)

.bck-warning    
    background-color: $yellow
    padding: 30px
    &:hover
        background-color:  darken($yellow, 10%)

.media
    -webkit-box-align: center
    display: -webkit-box

.fa-4x
    font-size: 4rem!important
    color: rgba(0, 0, 0, 0.41)