<div class="columns is-centered  is-marginless is-multiline">
  <div class="column is-12">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <i class="fa fa-globe"></i>&nbsp; {{'App.Lang'|translate:lang}}
        </a>
        <div class="navbar-dropdown is-right is-boxed">
          <a class="navbar-item has-text-black" (click)="selectLocale('el', 'GR');">
            {{'Common.Greek'|translate:lang}}
          </a>
          <a class="navbar-item has-text-black" (click)="selectLocale('en', 'UK');">
            {{'Common.English'|translate:lang}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-12-hd is-6-widescreen">
    <div class="field has-text-centered">
      <span class="title is-3 has-text-white">{{'Login.ForgotPassword'|translate:lang}}</span>
      <hr>
      <span class="subtitle is-5 has-text-white">{{'Login.ResetPswText'|translate:lang}}</span>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label has-text-white">Email</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded has-icons-left">
            <input class="input" type="email" [(ngModel)]="email">
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </p>
        </div>
        <p class="help is-danger" *ngIf="false">This email is invalid</p>
      </div>
    </div>
    <div class="field is-grouped is-grouped-right">
      <p class="control">
        <a class="button is-light" [routerLink]="['/login']">
          {{'Login.Cancel'|translate:lang}}
        </a>
      </p>
      <p class="control">
        <a class="button is-primary" (click)="reserPassword()">
          {{'Login.Send'|translate:lang}}
        </a>
      </p>
    </div>
  </div>
</div>