@import "../../node_modules/bulmaswatch/Flatly/_variables.scss"
@import "../../node_modules/bulma/sass/utilities/initial-variables.sass"

$primary: #013c77
$dark: $grey-darker
// $border-color: $primary
$text: white

$table-background-color: #fafafa
// $table-color: white
// $table-head-cell-color: white
$table-row-hover-background-color: rgba(52, 73, 94, 0.61)
$table-striped-row-even-background-color: rgba(52, 73, 94, 0.18)
$table-striped-row-even-hover-background-color: rgba(52, 73, 94, 0.61)

$tabs-link-color: white