@import "../../node_modules/bulmaswatch/Cosmo/_variables.scss"
@import "../../node_modules/bulma/sass/utilities/initial-variables.sass"

//$primary: rgba(7, 73, 82, 0.93)

$dark: $grey-darker
$border-color: $primary
$text: white

//$table-background-color: rgba(255, 255, 255, 0.73)
// $table-color: white
// $table-head-cell-color: white
// $table-row-hover-background-color: darken($primary,10%)
$table-striped-row-even-background-color: $grey
// $table-striped-row-even-hover-background-color: darken($primary,10%)

$tabs-link-color: white