
html,body
    height: 100%
    overflow: auto

html
   background-image: url('../assets/city.jpg')
   filter: blur(0px)
   width: 100%
   position: absolute
   z-index: -1

body
   width: 100%
   background: rgba(0, 0, 0, 0.78)
   position: absolute

.is-tiny
    font-size: 0.7rem
    padding: 0 5px
    height: 2em

.button
    text-transform: none

.help
    font-size: 0.85rem

.width60
    width: auto
    
hr.is-short
    margin: 0.7rem 0
    
.amargin
    margin: auto

.is-transparent
    background: transparent

.search-input
    border-top-left-radius: 3px!important
    border-bottom-left-radius: 3px!important
    text-shadow: 0 0 black

.search-btn
    border-top-right-radius: 3px!important
    border-bottom-right-radius: 3px!important

.table td, .table th
    padding: 0.5em 0.3em

.tag:not(body)
    font-size: 0.94rem
@media print 
    .no-print
        display: none !important
    .card
        box-shadow: none
    
@media (max-width: 480px)
    .card-content
        padding: 5px
    .hero-body
        padding: 3rem 1rem
    body
        font-size: 14px
    .tabs
        font-size: 0.8rem
    .tabs a
        padding: 0.5em 0.4em
    .pagination
        margin: 0
        font-size: 0.8rem
    .button, .input, .control
        font-size: 0.8rem
        line-height: unset
    .breadcrumb.is-large, .subtitle
        font-size: 0.9rem
    .width60
        width: 60px
    .title.is-4
        font-size: 0.8rem

@media screen and (max-width: 1023px)
    .navbar-menu 
         background-color: #003f46