<div class="container">
  <section class="is-small">
    <div class="hero-body">
      <app-navigation class="no-print" [navigation]="navbar"></app-navigation>
      <h2 class="subtitle is-marginless has-text-white">
        {{'Bills.BillsSubtitle'|translate:lang}}
      </h2>
      <div class="columns is-marginless is-multiline">
        <div class="column is-12">
          <div class="tabs is-centered is-boxed">
            <ul>
              <li [ngClass]="{'is-active':billType == 0}">
                <a (click)="changeView(0)">
                  <span class="icon is-small">
                    <i class="fa fa-file-text"></i>
                  </span>
                  <span> {{'Bills.Unpaid'|translate:lang}}</span>
                </a>
              </li>
              <li [ngClass]="{'is-active':billType == 1}">
                <a (click)="changeView(1)">
                  <span class="icon is-small">
                    <i class="fa fa-credit-card"></i>
                  </span>
                  <span> {{'Bills.Paid'|translate:lang}}</span>
                </a>
              </li>
              <li [ngClass]="{'is-active':billType == 2}">
                <a (click)="changeView(2)">
                  <span class="icon is-small">
                    <i class="fa fa-handshake-o"></i>
                  </span>
                  <span> {{'Bills.OnSettlement'|translate:lang}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="column is-top-paddingless is-12">
          <app-bills-unpaid *ngIf="billType == 0"></app-bills-unpaid>
        </div>
        <div class="column is-top-paddingless is-12">
          <app-bills-paid *ngIf="billType == 1"></app-bills-paid>
        </div>
        <div class="column is-top-paddingless is-12">
          <app-bills-settled *ngIf="billType == 2"></app-bills-settled>
        </div>

      </div>
    </div>
  </section>
</div>