<div class="is-clearfix field" *ngIf="bills.length > 0">
  <div class="is-pulled-right ">
    <p class="is-grouped">
      <button class="button is-info" [disabled]="!selectedBill" [routerLink]="['payment']"> {{'Common.Print'|translate:lang}}</button>
    </p>
  </div>
</div>
<div class="card" *ngIf="bills.length > 0">
  <div class="card-content">
    <table class="table is-fullwidth is-striped">
      <thead>
        <tr>
          <th class="is-hidden-mobile">{{'Bills.AA'|translate:lang}}</th>
          <th>{{'Bills.Service'|translate:lang}}</th>
          <th>{{'Bills.Debt'|translate:lang}}</th>
          <th class="is-hidden-mobile">{{'Bills.DueDate'|translate:lang}}</th>
          <th>{{'Bills.PayDate'|translate:lang}}</th>
          <th class="is-hidden-mobile">{{'Bills.Method'|translate:lang}}</th>
          <th class="selecteBill">{{'Common.Select'|translate:lang}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of bills;let i = index">
          <td class="is-hidden-mobile">{{i + 1}}</td>
          <td>{{d.description}}</td>
          <td>{{d.amount}} &euro;</td>
          <td class="is-hidden-mobile">{{d.dateDue|date:'dd-MM-yyyy'}}</td>
          <td>{{d.payment.paidDate|date:'dd-MM-yyyy'}}</td>
          <td class="is-hidden-mobile">{{d.payment.method}}</td>
          <td>
            <div class="field">
              <div class="control">
                <a class="button is-default is-xs" (click)="selectBill(i)">
                  <i class="fa" [ngClass]="{'has-text-dark': !checkSelected(d.id) ,'has-text-warning': checkSelected(d.id),'fa-square': !checkSelected(d.id), 'fa-check': checkSelected(d.id)}"></i>
                </a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>