<div class="columns is-centered  is-marginless is-multiline">

  <div class="column is-12-hd is-6-widescreen">
    <div class="field" *ngIf="isReset">
      <label class="label has-text-white">{{'Login.OlldPsw'|translate:lang}}</label>
      <p class="control has-icons-left">
        <input class="input" type="password" [(ngModel)]="resetPwd.oldPassword" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <label class="label has-text-white">{{'Login.NewPsw'|translate:lang}}</label>
      <p class="control has-icons-left">
        <input class="input" type="password" [(ngModel)]="resetPwd.newPassword" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <label class="label has-text-white">{{'Login.ReTypeNewPsw'|translate:lang}}</label>
      <p class="control has-icons-left">
        <input class="input" type="password" [(ngModel)]="newPassword" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field is-grouped is-grouped-right">
      <p class="control">
        <a class="button is-light" (click)="cancel()">
          {{'Login.Cancel'|translate:lang}}
        </a>
      </p>
      <p class="control">
        <a class="button is-primary" (click)="changePassword()">
          {{'Login.Change'|translate:lang}}
        </a>
      </p>
    </div>
  </div>
</div>