<div class="columns is-centered is-marginless is-multiline">
  <div class="column is-12-hd is-6-widescreen">
    <form [formGroup]="resetpwdForm" (ngSubmit)="onSubmit()">
      <div class="field" *ngIf="!isReset">
        <label class="label has-text-white">{{'Login.OlldPsw'|translate:lang}}</label>
        <div class="field-body">
          <div class="field">
            <div class="control ">
              <p class="control has-icons-left has-icons-right">
                <input class="input" type="password" formControlName="oldPassword" [ngClass]="{'is-danger':formErrors.oldPassword}">
                <span class="icon is-right" *ngIf="formErrors.oldPassword">
                  <i class="has-text-danger fa fa-times"></i>
                </span>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </p>
              <div *ngIf="formErrors.oldPassword" class="has-text-danger">
                {{ formErrors.oldPassword }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label has-text-white">{{'Login.NewPsw'|translate:lang}}</label>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <p class="control has-icons-left has-icons-right">
                <input class="input" type="password" formControlName="password" [ngClass]="{'is-danger':formErrors.password}">
                <span class="icon is-right" *ngIf="formErrors.password">
                  <i class="has-text-danger fa fa-times"></i>
                </span>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </p>
              <div *ngIf="formErrors.password" class="has-text-danger">
                {{ formErrors.password }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label has-text-white">{{'Login.ReTypeNewPsw'|translate:lang}}</label>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <p class="control has-icons-left has-icons-right">
                <input class="input" type="password" formControlName="confirmpsw" [ngClass]="{'is-danger':formErrors.confirmpsw}">
                <span class="icon is-right" *ngIf="formErrors.confirmpsw">
                  <i class="has-text-danger fa fa-times"></i>
                </span>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </p>
              <div *ngIf="formErrors.confirmpsw" class="has-text-danger">
                {{ formErrors.confirmpsw }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-grouped is-grouped-right">
        <p class="control">
          <a class="button is-light" (click)="cancel()">
            {{'Login.Cancel'|translate:lang}}
          </a>
        </p>
        <p class="control">
          <button class="button is-primary" [disabled]="resetpwdForm.pristine || !resetpwdForm.valid" type="submit">
            {{'Login.Change'|translate:lang}}
          </button>
        </p>
      </div>
    </form>
  </div>
</div>