<nav class="navbar is-dark field" *ngIf="user">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/home']">
      Δημος Περιστερίου
    </a>
    <div class="navbar-burger burger" data-target="navMenuTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-end">

    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-item">
            {{user.name}}
          </a>
      <a class="navbar-link  is-active">
        Menu
      </a>
      <div class="navbar-dropdown is-right is-boxed">
        <a class="navbar-item " [routerLink]="['/debts']">
          Πληρωμές
        </a>
        <a class="navbar-item">
          Λογαριασμοί
        </a>
        <a class="navbar-item">
          Διακανονισμοί
        </a>
        <a class="navbar-item">
          Προφίλ
        </a>
        <hr class="navbar-divider">
        <div class="navbar-item">
          <a class="bd-view-all-versions" (click)="logout()">Aποσύνδεση</a>
        </div>
      </div>
    </div>
  </div>
</nav>


<div class="container is-fluid">
  <router-outlet></router-outlet>
</div>
<ng-snotify></ng-snotify>