<nav class="navbar" *ngIf="user">
  <div class="navbar-brand">
    <a class="navbar-item title is-4 is-marginless" [routerLink]="['/home']">
      {{'App.Title'|translate:lang}}
    </a>
    <div class="navbar-burger burger" [ngClass]="{'is-active':mobileMenu}" (click)="openMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu" [ngClass]="{'is-active':mobileMenu}">
    <div class="navbar-end">
      <a class="navbar-item" [routerLink]="['/profile']">
        {{user.lastname}} {{user.name}}
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <i class="fa fa-globe"></i>&nbsp; {{'App.Lang'|translate:lang}}
        </a>
        <div class="navbar-dropdown is-right is-boxed">
          <a class="navbar-item" (click)="selectLocale('el', 'GR');">
            {{'Common.Greek'|translate:lang}}
          </a>
          <a class="navbar-item" (click)="selectLocale('en', 'UK');">
            {{'Common.English'|translate:lang}}
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          {{'Common.Menu'|translate:lang}}
        </a>
        <div class="navbar-dropdown is-right is-boxed">
          <a class="navbar-item" [routerLink]="['/bills']">
            {{'Home.Bills'|translate:lang}}
          </a>
          <a class="navbar-item" [routerLink]="['/settlements']">
            {{'Home.Settlements'|translate:lang}}
          </a>
          <a class="navbar-item " [routerLink]="['/payments']">
            {{'Home.Payments'|translate:lang}}
          </a>
          <a class="navbar-item" [routerLink]="['/profile']">
            {{'Home.Profile'|translate:lang}}
          </a>
          <hr class="navbar-divider">
          <div class="navbar-item" >
            <a (click)="logout()" [ngClass]="{'has-text-white':mobileMenu}"> {{'Home.Logout'|translate:lang}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
<ng-snotify></ng-snotify>